.pokemon-move{
    color: var(--primary-color);
    font-family: 'DotGothic16';
    letter-spacing: 2px;
    font-size: 1vw;
    border: 2px dashed var(--primary-color);
    border-radius: 15px;
    cursor: pointer;
    width: 75%;
    padding: 1%;
    margin: 3%;
    text-align: center;
    transition: 0.5s;
  }
  
  .pokemon-move:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px dashed var(--secondary-color);
  }

  .activity-log{
    width: 10px;
    height: 8vh;
    position: absolute;
    top: 2%;
    left: 2%;
    border: 2px solid blue;
    background-color: red;
}